[Unit]
Description=Backup sync

[Service]
Type=oneshot
ExecStartPre=-/usr/bin/curl -fsS -m 10 --retry 5 -o /dev/null https://hc-ping.com/c53d3d45-b49b-4711-8914-d16587716ad6/start
ExecStart=/home/elsahr/backup-pi/backup-sync.sh
ExecStopPost=-/bin/sh -c '/usr/bin/curl -fsS -m 10 --retry 5 -o /dev/null https://hc-ping.com/c53d3d45-b49b-4711-8914-d16587716ad6/$EXIT_STATUS'

[Install]
WantedBy=default.target
